html {
    background-color: black;
}

body {
    margin: 0;
    padding: 0; 
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;

}

body.fade-in { 
    opacity: 1;
}

body.fade-out {
    opacity: 0;
}

.mainbody {
    
}

.mobilebody {
    display: none;
}

.bg {
    width: 100%;
}

.container {
    width: 80%;
    max-width: 700px;
    margin: 0 auto;
}

.overlay_container {
    position: relative;
    display: inline-block;
}

.bg_overlay {
    /* position: relative; */
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    display: block;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-90%, -50%);
    color: white;
    font-size: 1rem;
    text-align: left;
}


h1 {
    color: rgba(255, 255, 255, 0.8);
    font-family: "Major Mono Display", monospace;
    font-size: 3rem;
}   

p {
    color: rgba(255, 255, 255, 0.8);
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    font-weight:400;
}   

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.button_overlays {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-family: 'montserrat', sans-serif;
    font-weight:400;
    margin: 0.2rem 0.2rem;
    padding: 1rem 1rem;
    cursor: pointer;
    transition: all 0.5s;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.8);
    font-weight: 600;
    border-width: 3px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

.button a:visited {
    color: rgba(255, 255, 255, 0.8);
}

.button:active {
    background-color: rgba(255, 255, 255, 0.3);
    border-color: rgba(255, 255, 255, 0.8);
    color: #222;
    /* Add any other styles you want for the active state */
}

.logo {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 8rem;
    margin: 1rem;
    z-index: 10; /* ensures it stays on top */
}

@media (orientation: portrait) {
    .mainbody{
        display: none;
    }
    .mobilebody {
        display: block;
        background-color: black;
    }

}
@media (max-width: 500px) {
    p {
        font-size: 1.0rem;
    }
    h1 {
        font-size: 2.0rem;
    }
    .logo {
    position: fixed;
    top: 0;
    right: 0;
    width: 4rem;
    margin: 1rem;
    z-index: 10; /* ensures it stays on top */
}
}