
body {
    background-color: black;
}

bg_image {
    background-image: url("Images/AJS_20100202_003.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    color: rgba(255, 255, 255, 0.8);
    font-family: "Major Mono Display", monospace;
    font-size: 80px;
    position: absolute;
    left: 400px;
    top: 500px;
}   

p {
    color: rgba(255, 255, 255, 0.8);
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight:100;
    position: absolute;
    left: 400px;
    top: 630px;
}   

button.explore {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    font-family: 'montserrat', sans-serif;
    font-weight:100;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    left: 400px;
    top: 750px;
    padding: 10px 20px;
}

button.about {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    font-family: 'montserrat', sans-serif;
    font-weight:100;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    left: 600px;
    top: 750px;
    padding: 10px 20px;
}


